
    <!-- Footer -->
<footer class="page-footer font-small  pt-4">


  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">The Developed Drinker</h5>
        <p>A collaborative class project, the answer to your drinking dilemma!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">GitHub</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/koreyandrus" target="_blank">Korey Andrus</a>
          </li>
          <li>
            <a href="https://github.com/Roogert" target="_blank">Sam McCallister</a>
          </li>
          <li>
            <a href="https://github.com/Jdrawbond" target="_blank">Jordan Drawbond</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">LinkedIn</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/koreyandrus" target="_blank">Korey Andrus</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/samantha-mccallister-41253489/" target="_blank">Sam McCallister</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jordan-drawbond-88a575189/" target="_blank">Jordan Drawbond</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->

<!--Main layout-->

<!--Main layout-->

