<!-- <div class="container">
 <div class="choice">
    <p>All Of Our Drinks Are Up To Code</p>
<button class="button btn-primary" routerLink="/random">Choose My Drink For Me</button>
<button class="button btn-danger" routerLink="/search">I Know What Drink I Want</button>
  </div>
</div> -->

<div class="choice w-fit mx-auto mt-6 rounded bg-tan text-brown">
  <div class="text-center w-full mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
      <h2 class="text-4xl text-brown sm:text-5xl" style="font-family: 'Olde English', sans-serif;">
          <span class="block">
            All Of Our Drinks Are Up To Code
          </span>
      </h2>
      <div class="lg:mt-0 lg:flex-shrink-0">
          <div class="mt-12 flex flex-col md:flex-row justify-center items-center">
              <button type="button" class="w-1/2 py-4 px-6 mr-2 bg-green  font-semibold rounded-lg" routerLink="/random">
                Choose My Drink For Me
              </button>
              <button type="button" class="w-1/2 py-4 px-6 bg-[#781212] font-semibold rounded-lg"routerLink="/search">
                I Know What I Want
              </button>
          </div>
      </div>
  </div>
</div>
