.choice {
margin-top: 2em;
background-color: rgb(221, 193, 136, .80);
height: 30em;
width: 40em;
text-align: center;
box-shadow: 4px 4px 8px rgb(82, 45, 18);
padding: 1em;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  font-family: 'Olde English', sans-serif;
  color:#522d12;
  font-size: 4rem;
  line-height: 1em;
  padding: .5em;
  margin-top: .5em ;
  margin-bottom: .5em ;
  min-width: 1em;
}

.button {
  border: solid .25em;
  color: #ddc187;
  border-radius: 1em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  width: 18em;
  height: 4em;
  margin: .5em;
  background-image: linear-gradient(to bottom, #522d12, transparent);
  border-color: #522d12;
  /* font-style: italic; */
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
