<div class="alert w-full bg-blue text-center text-2xl text-white p-4" *ngIf="savedDrink"> <h2>{{ savedDrink.strDrink }} added to your saved drinks!</h2></div>
  <div class="flex justify-center
  items-center p-10">
    <button class="w-auto p-6 bg-tan text-brown rounded-lg text-4xl" (click)="getRandomDrink()">Fetch another round</button>
  </div>


<loading-spinner *ngIf="isLoading"></loading-spinner>

<div class="random-drink flex justify-center mt-5 pb-16" *ngIf="randomDrink">
  <app-drink (drinkEmitter)="onSaveDrink($event)" [search]="true" [drink]="randomDrink"></app-drink>
</div>
