.logo {
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}

.logo:hover {
  color: hsl(177, 62%, 75%);
}

.nav-link.active {
  color: rgb(34, 145, 139);
  text-shadow: 1px 1px 2px black;
}

.nav-link:hover {
  color: hsl(177, 62%, 75%);
}
