<header class="sticky top-0 left-0 right-0 bg-brown" style="font-family: 'Olde English', sans-serif;">
  <nav class="flex items-center justify-around p-6 h-20 shadow-sm cursor-pointer">
    <div routerLink="/" class="text-4xl text-tan logo">The Developed Drinker</div>
    <ul>

      <li class="space-x-5 text-3xl text-tan">
        <a routerLink="/random" routerLinkActive="active" class="nav-link hidden sm:inline-block">Random</a>
        <a routerLink="/search" routerLinkActive="active" class="nav-link hidden sm:inline-block">Search</a>
        <a routerLink="/saved" routerLinkActive="active" class="nav-link hidden sm:inline-block">Saved</a>
      </li>
      <div class="sm:hidden space-y-1 hover:cursor-pointer" (click)="showMenu()">
        <span class="w-10 h-1 bg-tan rounded-full block"></span>
        <span class="w-10 h-1 bg-tan rounded-full block"></span>
        <span class="w-10 h-1 bg-tan rounded-full block"></span>
      </div>
    </ul>

  </nav>
  <div class="mobile-menu transition-all" *ngIf="menu">
    <ul>
      <li class="text-2xl flex flex-col justify-center text-center text-tan">
        <a routerLink="/random" routerLinkActive="active" class="nav-link sm:hidden">Random</a>
        <a routerLink="/search" routerLinkActive="active" class="nav-link sm:hidden">Search</a>
        <a routerLink="/saved" routerLinkActive="active" class="nav-link sm:hidden pb-5">Saved</a>
      </li>
    </ul>
  </div>
</header>
