<div class="card" style="width: 18rem;">
  <app-drink-details *ngIf="showDetails" [drink]="drink" (closeBtnClick)="onCloseDetails()"></app-drink-details>
  <img class="card-img-top p-2" src="{{ drink.strDrinkThumb }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ drink.strDrink }}</h5>
    <span class="badge badge-success mr-2">{{ drink.strCategory }}</span>
    <span class="badge" [ngClass]="{'badge-danger': drink.strAlcoholic === 'Alcoholic', 'badge-success': drink.strAlcoholic === 'Non alcoholic'}">{{ drink.strAlcoholic }}</span>
    <div class=" d-flex justify-content-around">
      <a class="btn btn-warning d-block mt-2" (click)="onShowDetails()">Drink Details...</a>
      <a class="btn btn-add  d-block mt-2" *ngIf="!saved" (click)="onSaveDrink()">
        <span>&plus;</span>
      </a>
      <a class="btn btn-delete  d-block mt-2" *ngIf="saved" (click)="onDeleteDrink()">
        <span>&minus;</span>
      </a>

    </div>
  </div>

</div>
