<div class="drink-card w-[250px] p-3 bg-tan rounded-xl shadow-xl hover:shadow-2xl hover:scale-105 transition-all transform duration-500 relative">
  <app-drink-details *ngIf="showDetails" [drink]="drink" (closeBtnClick)="onCloseDetails()"></app-drink-details>
  <img class="w-64 object-cover rounded-t-md" src="{{ drink.strDrinkThumb }}" alt="" />
  <div class="mt-4">
    <h1 class="text-2xl font-bold text-blue truncate">{{ drink.strDrink }}</h1>
    <p class="text-sm mt-2 text-gray-700">{{ drink.strAlcoholic }}</p>

    <div class="mt-4 mb-2 flex justify-between px-2">
      <button class="text-lg block font-semibold py-2 px-6 mr-2 text-green-100 hover:text-white bg-green-400 rounded-lg shadow hover:shadow-md transition duration-300" (click)="onShowDetails()">Details</button>
      <button class="text-lg block font-semibold py-2 px-6 text-white hover:text-white bg-[#0000FF] rounded-lg shadow hover:shadow-md transition duration-300" *ngIf="!saved" (click)="onSaveDrink()">Save</button>
      <button class="text-lg block font-semibold py-2 px-6 text-white hover:text-white bg-[#00aeff] rounded-lg shadow hover:shadow-md transition duration-300" *ngIf="saved && search" (click)="onSaveDrink()" disabled>Saved</button>
      <button class="text-lg block font-semibold py-2 px-6 text-white hover:text-white bg-[#962727] rounded-lg shadow hover:shadow-md transition duration-300" *ngIf="saved && !search" (click)="onDeleteDrink()">Delete</button>
    </div>
  </div>
</div>

