<div class="drink-details-container" @fadeSlideInOut>
  <div class="close-btn">
      <a class="" (click)="onClose()">
          <span class="cross-icon">&#10006;</span>
      </a>
  </div>
  <h5 class="title">{{ drink.strDrink }}</h5>
  <div class="ingredients">
    <div class="ingredient">
      <p class="item" *ngFor="let ingredient of ingredients">{{ ingredient }}</p>
    </div>
    <div class="measurements">
      <p class="item" *ngFor="let measurement of measurements">{{ measurement }}</p>
    </div>
  </div>
  <p class="directions">{{ drink.strInstructions }}</p>
</div>
