.drink-details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 10px;

  padding: 5px;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  z-index: 999;
  background-color: rgb(221, 193, 136, 0.95);
}

.close-btn {
  position: absolute;
  top: 0px;
  left: 5px;

  font-size: 1.5rem;

  cursor: pointer;
}

.close-btn a {
  color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  margin: 1rem;
}

.ingredients {
  display: flex;
  justify-content: space-between;

  font-weight: bold;
  line-height: 1;

  margin: 20px 10px;
}

.item {
  word-wrap: break-word;
  white-space: nowrap;
}

.directions {
  overflow-y: scroll;
}

.directions p {
  margin: 5px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
