.drink-details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgb(221, 193, 136, 0.95);
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: pointer;
}

.title {
  text-align: left;
}

.ingredients li {
  list-style: none;
  font-weight: bold;
}
